.modal-backdrop {
  position: fixed;
  left:0; top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: $aside-index + 3;

  &.on {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mask {
  position: absolute;
  left:0; top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.5);

  &.mask-alert {
    background-color: rgba(10, 10, 10, 0.1);
  }
}


.modal {
  position: relative;
  width: 100%;
  max-width: 460px;
  max-height: 100vh;
  color: $base-font-color;
  background: #FFFFFF;
  box-shadow: 2px 2px 15px 5px rgba(0,0,0,.2);
  overflow: auto;

  &.round {
    border-radius: 9px;
  }

  &.noPd {
    .modal-body {
      padding: 0;
    }
  }

  &.full-modal {
    width: auto;
    max-width: none;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  &.alert-box {
    .modal-body {
      padding: 50px 24px;

      h3 {
        padding-bottom: 0px;
      }

      p {
        font-size: 14px;
        font-weight: 300;
      }
    }

    .modal-footer .btn {
      flex: 1;
      max-width: 187px;
      height: 64px;
      border-radius: 3px;
      color: #fff;
      background-color: #6d64cd;
      transition: background $transition-speed ease;

      &:hover {
        background-color: #4c49c6;
      }
    }
  }
}


.modal-header {
  position: relative;
  padding: 10px 18px 0;
  text-align: right;

  .btn {
    position: relative;
    top: 10px;
    z-index: 1;
  }
}

.modal-footer {
  width: 100%;
  padding:20px 15px 15px;

  &.flex-side {
    padding: 20px 30px 15px;
    .btn {
      margin: 0 5px;
    }
  }
}

.modal-body {
  position: relative;
  line-height: 18px;
  padding: 12px 43px 36px;
  font-size: 13px;

  h3 {
    padding-bottom: 50px;
    font-size: 17px;
    text-align: center;
  }

  .message {
    position: relative;
    width: 100%;
    min-height: 68px;
    font-size: 13px;
    color: #de643e;

    span {
      position: absolute;
      left: 50%; top: 35%;
      transform: translate(-50%);
      display: inline-block;
    }
  }

  .msg-box {
    text-align: center;

    h3 {
      padding-bottom: 0;
      font-size: 14px;
      color: #020202;
    }

    p {
      padding-bottom: 40px;
      font-size: 14px;
      font-weight: 300;
      color: #020202;
    }

    .btn {
      font-size: 16px;
      font-weight: bold;
      color: #020202;
    }
  }
}

//== withdraw
.withdraw-box {
  position: relative;
  padding-bottom: 14px;
  overflow: hidden;

  .help-box,
  .form-box {
    position: relative;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
  }

  h3 {
    padding-bottom: 35px;
    font-size: 17px;
    text-align: center;
  }

  .balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 30px;
    border-radius: 2px;
    border: solid 1px #979797;
    color: #fff;
    background-color: #473fa0;

    b {
      font-size: 25px;
    }
  }

  .help {
    padding: 13px 0 15px;
    text-align: right;

    .js-help {
      font-size: 13px;
      color: #6d64cd;

      span, i {
        display: inline-block;
        vertical-align: middle;
      }
      i { font-size: 13px }
    }
  }
  h4 {
    padding-bottom: 12px;
  }
  .withdraw-input {
    display: flex;
    align-items: center;
    height: 56px;
    margin-bottom: 28px;
    padding: 0 26px;
    border-radius: 1px;
    border: solid 1px #e8e8e8;

    &:hover {
      background-color: #f6f6f6;
    }

    input, textarea {
      width: 100%;
      height: 27px;
      &:focus {
        outline: none
      }
    }

    textarea {
      height: 56px;
      min-height: 100%; max-height: 100%;
      min-width: 100%; max-width: 100%;
      padding: 10px;
      font-size: 14px;
      border: 0;
      resize: none;

      &:hover {
        background-color: #f6f6f6;
      }
    }

    &.exchange {
      justify-content: space-between;

      input {
        width:60%;
      }

      b {
        font-size: 12px;
        color: #b8b3b3;
      }
    }

    &.memo {
      padding: 0;
    }
  }

  .js-withdraw {
    width: 100%;
    height: 64px;
    border-radius: 3px;
    font-size: 15px;
    color: #fff;
    box-shadow: 2px 1px 11px 0 rgba(42, 62, 210, 0.28);
  }

  .withdraw-value {
    padding-bottom: 25px;
    margin-bottom: 17px;
    border-bottom: dashed 1px #979797;

    h4 { font-size: 13px; }
    b {
      font-size: 26px;
    }
    small {
      display: inline-block;
      padding-left: 5px;
      font-size: 11px;
      font-weight: bold;
    }
  }

  .withdraw-info__box {
    padding-bottom: 40px;

    h5 {
      font-size: 12px;
      color: #b8b3b3;
    }

    p {
      white-space: pre-line;
      padding-bottom: 10px;
      font-size: 12px;
    }
  }

  .findpin {
    padding: 24px 0;
    text-align: center;
    font-size: 13px;
    font-weight: 300;

    span {
      display: inline-block;
      padding-right: 10px;
      vertical-align: middle;
    }

    .btn {
      color: #6d64cd;
      font-weight: normal;
    }
  }

  .warning-msg {
    padding: 15px 0 50px;
    font-size: 13px;
    text-align: center;
    color: #de643e;
  }

  .help-box {
    h3 {
      i, span {
        display: inline-block;
        vertical-align: middle;
      }
    }
    li {
      position: relative;
      display: block;
      padding-left: 16px;
      padding-bottom: 40px;

      &:before {
        position: absolute;
        left: 0; top: 8px;
        display: block;
        content: '';
        width: 4px; height: 4px;
        border-radius: 50%;
        background: #000;
      }
    }

    p {
      padding-top: 20px;
    }

    .btn {
      height: 64px;
      font-size: 14px;

    }
  }

  .item-box {
    padding: 20px 0 50px;
    text-align: center;

    .photo {
      img { width: 80px }
    }

    h3 {
      padding-bottom: 10px;
      font-size: 15px;
    }

    .cost {
      font-weight: bold;
      color: #6d64cd;

      b { font-size: 21px; }
      small {
        display: inline-block;
        padding-left: 8px;
        font-size: 11px;
      }
    }
  }

  .attention {
    padding: 30px 0 50px;
    font-weight: 300;
  }
}

.modal.alert-box .modal-body .withdraw-box h3 {
  padding-bottom: 35px;
}

//== 이메일 등록
.regi-email {
  .form-box-line {
    position: relative;
    padding-bottom: 50px;

    .timer {
      position: absolute;
      top: 40px;
      right: 120px;
    }
  }
}


//== 핀넘버
.pin-box {
  border: solid 1px #efefef;

  &__view {
    padding: 25px 30px;
    background-color: #efefef;

    ::-webkit-input-placeholder {
      font-size: 13px;
      font-weight: 300;
      letter-spacing: normal;
      color: #25262d;
    }

    ::-moz-placeholder {
      font-size: 13px;
      font-weight: 300;
      letter-spacing: normal;
      color: #25262d;
    }

    ::-ms-placeholder {
      font-size: 13px;
      font-weight: 300;
      letter-spacing: normal;
      color: #25262d;
    }

    ::placeholder {
      font-size: 13px;
      font-weight: 300;
      letter-spacing: normal;
      color: #25262d;
    }

    i, span {
      display: inline-block;
      vertical-align: middle;
    }
    input {
      width: calc(100% - 30px);
      padding-left: 20px;
      font-size: 22px;
      letter-spacing: 12px;
      text-align: center;
      &:focus {
        outline-width: 0;
      }
    }

  }

  ul {
    flex: 10;
    padding: 22px 0;
  }

  li {
    display: inline-block;
    width: 20%;
  }

  .btn {
    position: relative;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;

    &:active {
      top: 1px; left: 1px;
    }
  }

  .js-pinNumber {
    flex: 1;
  }
}

//==  핀넘버찾기
.otp-regi {
  .QRcode {
    text-align: center;
    img {
      width: 100px;
    }

    p {
      padding: 7px 0 40px;
      font-size: 14px;
    }
  }
}

//== 연동할 게임 추가
.add-game {

}

//== filter
.filter-box {
  h1 {
    position: relative;
    top: -10px;
    font-size: 15px;
    text-align: center;
    color: #020202;
  }

  .radioGroup {
    margin-top: 10px;
    border-top: 1px solid  #dcdcdc;
    text-align: center;

    ul {
      display: inline-block;
      padding: 20px 0;
    }

    li {
      display: block;
      padding: 10px 0;
      text-align: left;
    }

    input[type="radio"] {
      & + span {
        padding-left: 50px;

        &:before {
          left: 0; top: -4px;
          width: 24px;
          height: 24px;
        }

        &:after {
          left: 6px; top: 2px;
          width: 12px;
          height: 12px;
        }
      }
    }
  }

}

@media screen and (max-width: $grid-breakpoint-tablet) {
  .modal.full.withdraw {
    .modal-header {
      padding: 0;
      height: 0;

      .btn {
        right: 8px;
      }

    }

    .modal-body {
      padding: 0;
    }

    .withdraw-box {
      display: flex;
      align-items: center;
      padding: 0;

      .item-info {
        position: relative;
        width: 240px;
        padding: 24px;

        h3 {
          padding-bottom: 39px;
        }

        &__title {
          display: none;
        }

        .item-box {
          display: inline-block;
          width: 100%;
          padding: 0;

          .photo {
            width: 90px;
            height: 90px;
            margin: 0 auto;
            margin-bottom: 20px;
            border: 1px solid #eee;
            img { width: 100%}
          }

          p {
            padding-bottom: 4px;
            font-size: 13px;
            font-weight: 300;
          }
        }

      }

      .withdraw-value {
        padding-bottom: 17px;
        margin-bottom: 28px;

        h4 {
          padding-bottom: 0;
          line-height: 1.5;
          font-size: 11px;
          font-weight: normal;

          small {
            display: block;
            font-size: 10px;
            padding: 0;
          }
        }

        b {
          font-size: 20px;
        }
      }

      .item-form {
        position: relative;
        width: calc(100% - 240px);
        height: 100vh;
        padding: 30px;
        background-color: #f8f8f8;

        &-box {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }

        .help-pin {
          padding-top: 15px;
          text-align: center;
          font-size: 12px;
          font-weight: 300;
          color: #25262d;

          a {
            font-weight: bold;
            color: #25262d;
          }
        }
      }
    }

    .withdraw-info__box {
      p {
        margin-bottom: 15px;
        max-height: 56px;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}

@media screen and (max-width: $grid-breakpoint) {
  .modal {
    position: fixed;
    left: 0; right: 0; top:0; bottom: 0;
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
    overflow-y: auto;

    .modal-header {
      position: fixed;
      top:0; right: 0;
      z-index: 1;
      .js-modalClose {
        z-index: 1;
      }
    }
    .modal-body {
      padding: 24px 30px 24px;

      * {
        word-break: break-word;
      }
    }
  }

  //== withdraw
  .modal.full.withdraw {
    .modal-body {
      padding: 24px 30px 24px;
    }

    .withdraw-box {
      display: block;

      .item-info,
      .item-form  {
        width: 100%;
        height: auto;
        padding:0;
        background: #fff;
      }

      .item-form-box {
        top: auto;
        transform: none;
      }

      .pin-box__view {
        background: transparent;
        input {
          @include placeholder {
            color: #7573e0;
          }
        }
      }
    }
  }
  .withdraw-box {

    .balance {
      height: 60px;
      padding: 0 24px;

      b {
        font-size: 25px;
      }
    }

    .help {
      padding: 9px 0;

      .js-help {
        font-size: 12px;
        i { font-size: 12px }
      }
    }

    h4 {
      padding-bottom: 8px;
    }
    .withdraw-input {
      height: 50px;
      margin-bottom: 16px;
      padding: 0 24px;

      &.exchange {
        input {
          width:60%;
        }

        b {
          font-size: 12px;
          color: #b8b3b3;
        }
      }

      &.memo {
        padding: 0;
      }
    }

    .js-withdraw {
      height: 50px;
      margin-top: 20px;
      font-size: 15px;
    }

    .withdraw-value {
      padding-bottom: 14px;
      margin-bottom: 17px;
    }

    .withdraw-info__box {
      padding-bottom: 20px;
    }

    .warning-msg {
      padding: 15px 0 50px;
      font-size: 13px;
      text-align: center;
      color: #de643e;
    }

    .help-box {
      .btn {
        height: 50px;
      }
    }
  }

  .filter-box {
    h1 {
      top: 24px;
    }

    .radioGroup {
      margin-top: 50px;
    }
  }
}


@media (max-width: $grid-breakpoint-tablet) and (max-height: $grid-breakpoint) {
  .modal.full {
    position: fixed;
    left: 0; right: 0; top:0; bottom: 0;
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
    overflow-y: auto;

    .modal-header {
      position: fixed;
      top:0; right: 0;
      z-index: 1;
      .js-modalClose {
        z-index: 1;
      }
    }
    .modal-body {
      padding: 24px 30px 24px;

      * {
        word-break: break-word;
      }
    }
  }

  .modal-body h3 {
    padding-bottom: 20px;
  }

  .pin-box {
    border: 0;

    &__view {
      padding: 15px 30px;
    }
  }

  .modal-body .message {
    min-height: 24px;

    &.otp {
      min-height: 44px;
    }

    span {
      position: relative;
      left: auto;
      top: auto;
      transform: none;
    }
  }

  .btn {
    border-radius: 3px;
  }
}
