//== radio custom
.radioGroup {
  font-size: 12px;
  font-weight: 500;

  label {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  input[type="radio"] {
    display: none;

    & + span {
      position: relative;
      display: inline-block;
      padding-left: 18px;

      &:before {
        position: absolute;
        left: 0; top: 2px;
        display: inline-block;
        content: '';
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid #cecece;
        box-shadow: inset 0 0 1px rgba(0,0,0,.5);
      }

      &:after {
        position: absolute;
        left: 3px; top: 5px;
        display: inline-block;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $body-color;
        transition: background-color .3s ease;
      }
    }

    &:checked + span:after {
      background: #473fa0;
    }
  }

  .sort-bookmark {
    i {
      position: relative;
      font-size: 20px;
    }
    input[type="radio"] {
      & + span {
        padding-left: 4px;
        color: #6d64cd;
        transition: color .2s ease;


        &:before {
          position: absolute;
          left: -2px; top: -5px;
          display: inline-block;
          content: '';
          width: 31px;
          height: 31px;
          border-radius: 50%;
          border: 1px solid #e7e7e7;
          box-shadow: inset 0 0 1px rgba(0,0,0,.5);
          transition: background-color $transition-speed ease;
        }

        &:after {
          display: none;
        }
      }

      &:checked + span {
        color: #fff;
        &:before {
          background-color: #6d64cd;
        }
      }
    }
  }
}
