//== variable
@import "vars";

//== default : reset
@import "common";

//== mixin
@import "mixed/a-hover-color";
@import "mixed/box-shadow";
@import "mixed/ellipsis";
@import "mixed/scrollbars";
@import "mixed/placeholder";

//== tools
@import "util";

//== components
@import "components/sort";
@import "components/radiogroup";
@import "components/card";
@import "components/itemview";
@import "components/modal";
@import "components/sweetalert";

//== page
@import "layout";
@import "aside/aside";
@import "aside/sign";
@import "aside/game-list";
@import "home";
@import "wallet";
@import "mypage";
@import "webapp";

.rotate-center {
  -webkit-animation: rotate-center 1s ease-in-out infinite both;
  animation: rotate-center 1s ease-in-out infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
